@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.box{
    width: 30%;
    background: #fff;
    padding: 2rem 1rem;
    border-radius: 5px;
}
.box h3{
    font-size: 2.7rem;
    width: fit-content;
    background-clip: text;
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 10px auto;
}
.box textarea{
    display: block;
    width: 90%;
    height: 150px;
    margin: 10px auto;
    padding: 0.5rem;
    outline: none;
    resize: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #555;
    overflow: hidden;
    transition: all 0.4s;
}
.box textarea::placeholder{
    color: #888;
    opacity: 1;
    transition: all 0.4s;
}
.box button{
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #4285f4, #d96570);
    padding: 7px 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    width: 90%;
}
.box button:hover{
    background: linear-gradient(to left, #4285f4, #d96570);
}
@media(max-width: 700px){
    .box{
        width: 90%;
    }
    .box h3{
        font-size: 1.5rem;
    }
}